{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Veebikaabits - Kõik kasutatud asjad ühes kohas!</title>
	<meta name="title" content="Veebikaabits - Kõik kasutatud asjad ühes kohas!">
	<meta name="description" content="Soovid leida endale midagi kasutatult, aga ei viitsi järjest lehti kammida?
Toome Eesti suurima nelja kasutatud asjade portaali vasted kokku!
Saad mugavalt filtreerida ning järjestada oma leide ning teha enda jaoks just õige valik.
Mugav tööriist nii professionaalile kes teeb turuanalüüsi kui ka inimesele, kellel on just enda jaoks vajaminevat vaja kõige soodsamalt">
	<meta name="keywords" content="kasutatud,asjad,okidoki,osta,soov,kuldnebors,odavaim,odav,veebikaabits,veebi,kaabits,Eesti,arvuti,arvutikomponendid,gtx,cpu,intel,amd,nvidia,canon,kaamera,pentax,lumix,objektiiv">
	<meta name="author" content="Alvar Antson">

	<meta name="google-site-verification" content="GFBdmpgoDtHy-cqEtkOtsZ2Uy1F3wTbClQBe5jcq6sQ" />
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
{% include "navbar/navbar.html" %}
<div class="col-xs-12 main">
	<div class="col-xs-12 main-content">
		<div class="col-xs-12">
			<div class="col-xs-12 col-md-2 col-lg-3"></div>
			<div class="title col-xs-12 col-md-8 col-lg-6">
				<h1>{{ lang.otsi_midagi }}</h1>
				<h3>{{ lang.loosung }}</h3>
			</div>
			<div class="col-xs-12 col-md-2 col-lg-3"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-md-2 col-lg-3"></div>
			<div class="search col-xs-12 col-md-8 col-lg-6 search-remover">
				<form method="POST">{% csrf_token %}
					<input type="text" name="search">
					<button class="submit-btn" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</form>
			</div>
			<div class="col-xs-12 col-md-2 col-lg-3"></div>
		</div>
	</div>
<h4><a class="support" href="http://dolohen.com/afu.php?zoneid=2276702" >See link viib reklaamini - kui soovite toetada lehte, vajutage seda!</a></h4>

<script type="text/javascript">
	$('h3').fadeIn(2500)
	$('.search').animate({
	    opacity: 1,
	    marginTop: 0,
	    marginBottom: '41vh'
	  }, 2500, function() {
	    // Animation complete.
	  });
</script>

</div>
{% include "navbar/footer.html" %}
</body>
</html>